@{
    ViewData["Title"] = "Contact list";
}

<div class="text-center">
    <br>
    <h1 class="display-4">Contact list</h1>
    <br>
    <div>
        <a asp-controller="Contact" asp-action="Create" class="btn btn-primary" role="button">
            Add new Contact
        </a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Number</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>John</td>
                <td>Doe@gmail.com</td>
                <td>43 522552422</td>
                <td>
                    <a asp-controller="Contact" asp-action="Edit" asp-route-id="1" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-controller="Contact" asp-action="DeleteConfirmation" asp-route-id="1" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this contact?');">Delete</a>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Alice</td>
                <td>Smith@gmail.com</td>
                <td>43 62212422</td>
                <td>
                    <a asp-controller="Contact" asp-action="Edit" asp-route-id="2" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-controller="Contact" asp-action="DeleteConfirmation" asp-route-id="2" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this contact?');">Delete</a>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Bob</td>
                <td>Johnson@gmail.com</td>
                <td>23 243526226</td>
                <td>
                    <a asp-controller="Contact" asp-action="Edit" asp-route-id="3" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-controller="Contact" asp-action="DeleteConfirmation" asp-route-id="3" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this contact?');">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
