@model AuthSystem.Models.UserModel

<h2>Edit User</h2>

<form id="editUserForm" method="post" onsubmit="return validateForm()">
    <div class="form-group">
        <label for="Nome">Name</label>
        <input type="text" class="form-control" id="Nome" name="Nome" value="@Model.Nome" onfocus="if(this.value=='Enter your name here') this.value='';" onblur="if(this.value=='') this.value='Enter your name here';" required />
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" onfocus="if(this.value=='Enter your email here') this.value='';" onblur="if(this.value=='') this.value='Enter your email here';" required />
    </div>
    <div class="form-group">
        <label for="Login">Login</label>
        <input type="text" class="form-control" id="Login" name="Login" value="@Model.Login" onfocus="if(this.value=='Enter your login here') this.value='';" onblur="if(this.value=='') this.value='Enter your login here';" required />
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="Password" name="Password" value="@Model.Password" onfocus="if(this.value=='Enter your password here') this.value='';" onblur="if(this.value=='') this.value='Enter your password here';" required />
        <input type="checkbox" id="showPassword" onclick="togglePasswordVisibility()"> Show Password
        <div id="passwordValidation" class="password-validation"></div>
    </div>
    <br>
    <div class="form-group">
        <label for="Profile">Profile</label>
        <select class="form-control" id="Profile" name="Profile" required>
            <option value="1">Admin</option>
            <option value="2">User</option>
        </select>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<script>
function togglePasswordVisibility() {
    var passwordField = document.getElementById("Password");
    var checkbox = document.getElementById("showPassword");

    if (checkbox.checked) {
        passwordField.type = "text"; 
    } else {
        passwordField.type = "password"; 
    }
}

function validateForm() {
    var requiredFields = document.querySelectorAll('input[required], select[required]');
    for (var i = 0; i < requiredFields.length; i++) {
        var fieldValue = requiredFields[i].value.trim();

        if (fieldValue === '') {
            alert('Please fill all required fields.');
            return false; 
        }
    }

    return true; 
}
</script>
