@model AuthSystem.Models.UserModel

<h2>Edit User</h2>

<form id="editUserForm" method="post">
    <div class="form-group">
        <label for="Nome">Name</label>
        <input type="text" class="form-control" id="Nome" name="Nome" value="@Model.Nome" placeholder="Enter your name here" required />
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" placeholder="Enter your email here" required />
    </div>
    <div class="form-group">
        <label for="Login">Login</label>
        <input type="text" class="form-control" id="Login" name="Login" value="@Model.Login" placeholder="Enter your login here" required />
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="Password" name="Password" value="@Model.Password" placeholder="Enter your password here" required />
        <input type="checkbox" id="showPassword" onclick="togglePasswordVisibility()"> Show Password
    </div>
    <br>
    <div class="form-group">
        <label for="Profile">Profile</label>
        <select class="form-control" id="Profile" name="Profile">
            <option value="1">Admin</option>
            <option value="2">User</option>
        </select>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    
    function togglePasswordVisibility() {
        var passwordField = document.getElementById("Password");
        passwordField.type = passwordField.type === "password" ? "text" : "password";
    }

   
    let form = document.getElementById("editUserForm");
    let nomeInput = document.getElementById("Nome");
    let emailInput = document.getElementById("Email");
    let loginInput = document.getElementById("Login");
    let passwordInput = document.getElementById("Password");

    form.addEventListener("submit", (e) => {
        
        if (
            nomeInput.value.trim() === "" ||
            emailInput.value.trim() === "" ||
            loginInput.value.trim() === "" ||
            passwordInput.value.trim() === ""
        ) {
            
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Please fill all required fields correctly!",
            });
            e.preventDefault();
            return;
        }

        
        e.preventDefault(); 
        Swal.fire({
            icon: "success",
            title: "User updated!",
            text: "The user information has been successfully edited.",
        }).then((result) => {
            if (result.isConfirmed) {
                form.submit(); 
            }
        });
    });
</script>
