@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, @Model.Nome</h1>
    <span>Your email: @Model.Email</span>
    <p> Contact management System </p>
    
</div>
