@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="padding-top: 100px;">
    <h1 id="welcomeText" class="display-4">Welcome  </h1>
    <span></span>
    <p></p>
</div>

<style>
    .display-4 {
        font-size: 2.5rem; 
        font-weight: bold; 
        color: #333; 
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var text = $("#welcomeText").text().split('');
        $("#welcomeText").text('');
        text.forEach(function (letter, index) {
            $("<span>").text(letter).appendTo("#welcomeText");
        });

        $("#welcomeText span").hide().each(function (index) {
            $(this).delay(index * 100).fadeIn(200).css('font-size', '3em'); 
        });
    });
</script>
